<app-header></app-header>
<div id="mmenu_screen" class="container-fluid main_container">

<div class="row">
    <div class="col-md-6" id="div1">
        
        <img src="/assets/doctor.jpg">
    
    </div>
    <div class="col-md-6" id="div2">
       
                  
        <div class="row">
            <div id="div2-1" style="width:10%;">
           <span class="vertical-text">
              <b> HAPPY TO SERVE YOU</b>
           </span>
            </div>
            <div id="div2-2" style="width:60%;height:100%">
<br>
<br>
<h4>ADMIN LOGIN</h4>

<br>
    <br>
      <input #username type="text" class="textbox" placeholder="Enter Username">
    <br>
    <br>
      <input #password type="password" class="textbox" placeholder="Enter Password">
      <br>
      <br>
      <button type="button" class="btn btn-primary" (click)="adminlogin(username.value,password.value)">Login</button>
      <hr>
      Only for admins
            
     <p id="contact" > abc@healthcare.com <br>  +91 9603690777</p>
      
              </div>
       </div>
    </div>
</div>
</div>   

